<% const rootPath = '../'; const title = 'About Page'; %>
<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include(`../templates/_head`, { title, rootPath }) -%>
</head>

<body>
  <p><%= title %></p>
</body>
</html>
